h2{
    text-align: center;
}
#border button{
    border: 1px solid #a7a7a7;
    border-radius:10px;
}
#border{
    margin: auto;
    background-color: #3fbcef;
    width: fit-content;
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 1px 1px 1px 1px #cac8c8;
}
#screen{
    display: flex;
    align-items: center;
    background-color: #e9e7e7;
    width: 255px;
    height: 60px;
    padding-left: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid #a7a7a7;
    font-size: 1.3em;
    box-shadow: 1px 1px 1px #02b0f5;
}
.right-things{
    display: flex;
}
.grid-1{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    gap: 5px;
}
.grid-2{
    margin-left: 5px;
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 50px;
    gap: 5px;
}
.yellow-bg{
    background-color: #f7f793;
}
.yellow-bg:hover{
    background-color: #f8f802;
}
.red-bg{
    background-color: rgb(255, 88, 88);
}
.red-bg:hover{
    background-color: rgb(250, 46, 46);
}
.button{
    background-color: #e9e7e7;
}
.button:hover{
    background-color: #a7a7a7;
}
.op{
    background-color: #8bfa8b;
}
.op:hover{
    background-color: #1af81a;
}